<mat-toolbar color="primary">
  <!-- <span>Airline App</span> -->
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
    <h1>Airline App</h1>
    <span class="menu-spacer"></span>
    <div>
      <mat-menu #flightsMenu="matMenu">
        <button mat-menu-item [routerLink]="['flights/profile']">
          Profile
        </button>
        <button mat-menu-item [routerLink]="['flights/aircraft']">
          Aircraft
        </button>
        <button mat-menu-item [routerLink]="['flights/msm']">
          Master Seat Map
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="flightsMenu">
        Flights
      </button>
      <button mat-button [routerLink]="['passengers']">
        Passenger
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
