<mat-card>
  <form [formGroup]="flightProfileDetailsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Airline Code</mat-label>
          <input
            matInput
            formControlName="airlineCode"
            #code
            (input)="code.value = $event.target.value.toUpperCase()"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Flight Number</mat-label>
          <input
            matInput
            formControlName="flightNo"
            #no
            (input)="no.value = $event.target.value.toUpperCase()"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Aircraft Type</mat-label>
          <input
            matInput
            formControlName="airlcraftType"
            #at
            (input)="at.value = $event.target.value.toUpperCase()"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Aircraft Version</mat-label>
          <input
            matInput
            formControlName="airlcraftVersion"
            #av
            (input)="av.value = $event.target.value.toUpperCase()"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3  col-sm-3">
        <mat-form-field>
          <!-- <mat-label>Cabin Configuration</mat-label> -->
          <input
            type="text"
            aria-label="Number"
            matInput
            placeholder="Cabin Configuration1"
            formControlName="cabinConfig"
            [matAutocomplete]="auto"
            #cc
            (input)="cc.value = $event.target.value.toUpperCase()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredCabinConfig | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <mat-accordion formArrayName="legs">
      <mat-expansion-panel
        *ngFor="let leg of legs.controls; let index = index"
        [expanded]="step === index"
        (opened)="setStep(index)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Leg - {{ index + 1 }} </mat-panel-title>
          <mat-panel-description>
            {{ leg.value.boardPoint | uppercase }} -
            {{ leg.value.offPoint | uppercase }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <mat-list [formGroupName]="index">
          <mat-list-item style="margin-left: -20px;"
            >Detarture details</mat-list-item
          >
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Airport</mat-label>
                <input
                  matInput
                  formControlName="boardPoint"
                  #bp
                  (input)="bp.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Date of Deprture</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [matDatepicker]="picker1"
                  formControlName="depDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Time of Deperture</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="fullTime"
                  aria-label="24hr format"
                  [format]="24"
                  formControlName="depTime"
                />
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Teminal</mat-label>
                <input
                  matInput
                  formControlName="depTerminal"
                  #dt
                  (input)="dt.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Gate</mat-label>
                <input
                  matInput
                  formControlName="depGate"
                  #dg
                  (input)="dg.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
          </div>
          <mat-list-item style="margin-left: -20px;"
            >Arrival Details</mat-list-item
          >
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Airport</mat-label>
                <input
                  matInput
                  formControlName="offPoint"
                  #op
                  (input)="op.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Date of Arrival</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [matDatepicker]="picker2"
                  formControlName="arrDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Time of Arrival</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="arrtime"
                  aria-label="24hr format"
                  [format]="24"
                  formControlName="arrTime"
                />
                <ngx-material-timepicker #arrtime></ngx-material-timepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Teminal</mat-label>
                <input
                  matInput
                  formControlName="arrTerminal"
                  #ot
                  (input)="ot.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Gate</mat-label>
                <input
                  matInput
                  formControlName="arrGate"
                  #og
                  (input)="og.value = $event.target.value.toUpperCase()"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-list>

        <mat-action-row>
          <button
            mat-button
            color="accent"
            (click)="prevStep()"
            [hidden]="index == 0"
          >
            Previous
          </button>
          <button mat-button color="primary" (click)="nextStep()">
            {{ nextButtonName(index) }}
          </button>
          <button
            mat-button
            color="warn"
            (click)="deleteLeg(index)"
            [hidden]="legs.length == 1"
          >
            Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        style="float: left; margin-left: 10px;"
        [disabled]="!flightProfileDetailsForm.valid"
      >
        {{ submitButtonName }}
      </button>
      <button
        mat-raised-button
        style="background-color: #4dbd81;  color : white; float: right;"
        (click)="onReset()"
      >
        {{ resetButtonName }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
