<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="Flight Profile">
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Search
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="searchFlightProfileForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <mat-form-field>
                  <mat-label>Airline Code</mat-label>
                  <input
                    matInput
                    formControlName="airlineCode"
                    #ac
                    (input)="ac.value = $event.target.value.toUpperCase()"
                  />
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 ">
                <mat-form-field>
                  <mat-label>Flight No</mat-label>
                  <input
                    matInput
                    formControlName="flightNo"
                    #fn
                    (input)="fn.value = $event.target.value.toUpperCase()"
                  />
                </mat-form-field>
              </div>
              <div class="col-lg-6"></div>
              <div class="col-lg-3  col-md-6 col-sm-6">
                <mat-form-field>
                  <mat-label>Form</mat-label>
                  <input
                    matInput
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="picker1"
                    formControlName="formDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-3  col-md-6 col-sm-6">
                <mat-form-field>
                  <mat-label>To</mat-label>
                  <input
                    matInput
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="picker2"
                    formControlName="toDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-3  col-md-6 col-sm-6">
                <mat-form-field>
                  <input
                    type="text"
                    placeholder="Pick Deperture Port"
                    aria-label="Number"
                    matInput
                    formControlName="depPort"
                    [matAutocomplete]="autoDep"
                    #bp
                    (input)="bp.value = $event.target.value.toUpperCase()"
                  />
                  <mat-autocomplete #autoDep="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredDepPorts | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-lg-3  col-md-6 col-sm-6">
                <mat-form-field>
                  <input
                    type="text"
                    placeholder="Pick Arrival Port"
                    aria-label="Number"
                    matInput
                    formControlName="arrPort"
                    [matAutocomplete]="autoArr"
                    #op
                    (input)="op.value = $event.target.value.toUpperCase()"
                  />
                  <mat-autocomplete #autoArr="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredArrPorts | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-lg-12 col-md-12">
                <button
                  mat-raised-button
                  type="submit"
                  color="primary"
                  style="float: left;"
                  [disabled]="!searchFlightProfileForm.valid"
                >
                  Search
                </button>
                <button
                  mat-raised-button
                  style="background-color: #4dbd81;  color : white; float: right;"
                  (click)="onReset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Results
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-table
            #table
            [dataSource]="reuslts"
            matSort
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="radio">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-radio-button
                  (change)="selectedFlight = row.flightProfileId"
                  [value]="row.flightProfileId"
                ></mat-radio-button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let index = index">{{
                index + 1
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="flight">
              <mat-header-cell *matHeaderCellDef>Flight</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.airlineCode + element.flightNo }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="boadrPoint">
              <mat-header-cell *matHeaderCellDef>Boadr Point</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.boadrPoint }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="offPoint">
              <mat-header-cell *matHeaderCellDef>Off Point</mat-header-cell>
              <mat-cell *matCellDef="let element">{{
                element.offPoint
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="depDate">
              <mat-header-cell *matHeaderCellDef>Dep. Date</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.depDate | date: "fullDate" }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="depTime">
              <mat-header-cell *matHeaderCellDef>Dep. Time</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.depTime }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="arrDate">
              <mat-header-cell *matHeaderCellDef>Arr. Date</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.arrDate | date: "fullDate" }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="arrTime">
              <mat-header-cell *matHeaderCellDef>Arr. Time</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.arrTime }}
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

          <div style="margin-top: 20px;">
            <div>
              <button
                mat-raised-button
                type="submit"
                color="primary"
                (click)="openFlight()"
              >
                Open
              </button>
              <button
                mat-raised-button
                color="accent"
                (click)="assignFlight()"
                style="margin-left: 20px;"
              >
                Assign
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="New Flight Profile">
    <app-profile-details></app-profile-details>
  </mat-tab>
  <mat-tab *ngFor="let fp of flightProfileList; let index = index">
    <ng-template mat-tab-label>
      <span>{{ fp.airlineCode + fp.flightNo }}</span>

      <button mat-icon-button style="float: right" (click)="onClose(index)">
        <mat-icon style=" font-size: 18px;">cancel_circle</mat-icon>
      </button>
    </ng-template>
    <app-profile-details [flightProfile]="fp"></app-profile-details>
  </mat-tab>
</mat-tab-group>
